*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

.slider{
    height: 100vh;
}
.slide{
    height: 100vh;
    width: 100%;
}
img{
    height: 100vh;
    width: 100%;
}

.btn {
    position: absolute;
    font-size: 4rem;
    top: 45%;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
}
.prev{
    left: 2rem;
}
.next{
    right: 2rem;
}
.btn:hover{
    background-color: lightslategray;
    color: black;

}